{% extends 'base.j2' %}
{% block title %} 503 {% endblock %}
{% block content %}
    <h2>Server is overloaded</h2>
    <p>Oops... Sorry, but currently our system is not responding.
    <p>We are already working on it, so please, try again in a few minutes.
{% endblock %}
